body{
    font-family: 'Poppins', sans-serif;
    background-color: #231F20;
    color: #FFFFFF;
    overflow: hidden;
}

.btn.text-uppercase{
    background-color: #F1F2F2;
}

.btn.text-uppercase:hover{
    background-color: #39FF14;
}

.login-form{
    margin-top: 10vh;
}
#register_btn, #login_btn{
    margin-bottom: auto;
    margin-top: auto;
}